<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054415837875-487qfsvd9ni1j15h88poub9m15dhtu9a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054415837875-487qfsvd9ni1j15h88poub9m15dhtu9a</string>
	<key>API_KEY</key>
	<string>AIzaSyAJU77We8RXMkXCh_CSxaQ0EVyWLzcu-FM</string>
	<key>GCM_SENDER_ID</key>
	<string>1054415837875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bassuni.Places-Aniversarie</string>
	<key>PROJECT_ID</key>
	<string>tasks-ce6c5</string>
	<key>STORAGE_BUCKET</key>
	<string>tasks-ce6c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054415837875:ios:2d514630bc958e2bd52ec6</string>
	<key>DATABASE_URL</key>
	<string>https://tasks-ce6c5.firebaseio.com</string>
</dict>
</plist>